/*********************************************************************
//------------------------------LOGIN PAGE CSS--------------------------
//*********************************************************************/

.LoginPage,
.Register-page {
    text-align: center;
    background: url("http://i.imgur.com/BWMCDuH.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100vh;
    color: #fcf8e3;
}

.AccountSettingsPage label,
.LoginPage label,
.Register-page label {
    /*font-size: 4em;*/
    margin: 10px;
    text-shadow: 0 3px 0 #8e4600, 0 14px 10px #000, 0 24px 2px rgba(0, 0, 0, .1), 0 34px 30px rgba(0, 0, 0, .1);
    font-family: Ubuntu, sans-serif
}

.account-settings label,
.Register-page label {
    font-size: 2em
}

/*.login-container,
.Register-form {
    border-radius: 5px;
    background-color: rgba(40, 10, 9, .7);
    padding: 20px;
    position: fixed;
    top: 59%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}*/

.login-container, .Register-form {
    border-radius: 5px;
    background-color: rgba(40, 10, 9, .7);
    padding: 20px;
    display: inline-block;
}

#login span {
    font-size: 15vh;
}

input[type=text]:not(#displayName):not(.input), select {
    background: url(https://maxcdn.icons8.com/Color/PNG/24/Computer_Hardware/mouse_left_click-24.png) .2em .3em no-repeat, -webkit-linear-gradient(top, #f7f7f8, #fff);
    background: url(https://maxcdn.icons8.com/Color/PNG/24/Computer_Hardware/mouse_left_click-24.png) .2em .3em no-repeat, linear-gradient(180deg, #f7f7f8 0, #fff);
}

input[type=text]:not(.input), select {
   
    left: 20%;
    top: 25%;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000;
    text-align: center
}


input[type=text]:not(#displayName):focus {
    background: url(https://maxcdn.icons8.com/Color/PNG/24/Computer_Hardware/enter-24.png) 33.5em .3em no-repeat, -webkit-linear-gradient(top, #f7f7f8, #fff);
    background: url(https://maxcdn.icons8.com/Color/PNG/24/Computer_Hardware/enter-24.png) 33.5em .3em no-repeat, linear-gradient(180deg, #f7f7f8 0, #fff)
}

/*input[type=email],
input[type=password],
.input,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000;
    text-align: center
}*/

input[type=email], input[type=password], .input, select {
    width: 100%;
    padding: 4% 0vh;
    margin: 1% 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000;
    text-align: center;
}

button[type=submit] {
    width: 100%;
    background-color: #ff8a3c;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

button[type=submit]:hover {
    background-color: #c4682b;
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01)
}

.App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
    animation: App-logo-spin infinite 20s linear;
    height: 80px
}

#registerlink {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    display: block;
    float: none
}

#registerlink:hover {
    color: gold;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color: transparent
}

#login-icons {
    text-align: center
}

#facebook-login,
#google-login {
    background-color: transparent;
    display: block;
    width: 50%
}

.App-intro {
    font-size: large
}



@media screen and (max-width: 767px) {
    span {
        font-size: 5em
    }
    div#register {
        padding: 4em;
    }
    .LoginPage label, .Register-page label {
        font-size: 2em;
    }
    .login-container, .Register-form {
        width: 45%;
        top: 60%;
    }
    
    #display-name-input,
    #displayName,
    #username {
        width: 100%
    }
}

@media screen and (max-width:959px) {
    span {
        font-size: 5em
    }
    .login-container {
        top: 45%
    }
    div#register {
        padding: 4em;
    }
    .LoginPage label, .Register-page label {
        font-size: 2em;
    }
    .login-container, .Register-form {
        width: 45%;
        top: 60%;
    }
    
    #display-name-input,
    #displayName,
    #username {
        width: 100%
    }
    
}

@media (min-width:960px) {
    .login-container, .Register-form {
        font-size: 1em;
        min-width: 35%;
        max-width: 35%;
    }
    .Register-page label {
        font-size: 1em;
    }
    #display-name-input, #displayName, #username {
        width: 100%
    }
}