.account-settings {
    color: white;
    height: 100%;
    width: 100%;
    margin: 8% 0 15% 0;
    text-align: center;
}

.update-display-name-form,
.update-password-form {
    display: inline-block;
    width: 350px;
    border-radius: 5px;
    background-color: rgba(40, 10, 9, .7);
    padding: 20px;
    margin-bottom: 2%;
}

.update-third-party-display-name-form {
    width: 350px;
    border-radius: 5px;
    background-color: rgba(40, 10, 9, .7);
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.update-display-name, .update-password {
    display: block;
}

.setting .feedback {
    color: black;
}

@media only screen and (max-width : 768px) {
    .update-display-name-form, .update-password-form {
        width: 50%;
    }
    .account-settings {
        margin: 25% 0 30% 0;
    }
}

@media only screen and (max-width : 992px) {
    .update-display-name-form, .update-password-form {
        min-width: 45%;
        max-width: 50%;
    }
}

@media only screen and (max-width : 1200px) {
    .update-display-name-form, .update-password-form {
        min-width: 38%;
        max-width: 40%;
    }
}