#lock_new_saved_playlists {
	position: fixed;
	right: 4%;
	z-index: 100;
}

#top_page .btn-group-vertical {
	top: 12vh;
    right: 0%;
}

#songSearch-page .btn-group-vertical {
    left: 30%;
}

#lock_new_saved_playlists .btn-group-vertical .btn.btn-default {
    color: #fff;
    border-color: transparent;
    background-color: #FFC107;
}