#lock_new_saved_playlists {
	position: fixed;
	right: 5px;
	z-index: 100;
}

#top_page .btn-group-vertical, #songSearch-page .btn-group-vertical {
	top: 12vh;
    right: 0%;
}

#lock_new_saved_playlists .btn-group-vertical .btn.btn-default {
    color: #fff;
    border-color: transparent;
    background-color: #FFC107;
}

#toggle-div {
    display: inline-block;
}

@media only screen and (max-width: 768px) {
	#lock_new_saved_playlists {
	    left: 3%;
	    right: 0%;
	    position: fixed;
	}
}