#top_page {
    height: 110vh;
}

#top_page .top3  .scrollarea.area {
    width: 25%;
    margin-left: 1%;
    display: inherit;
}

#top_page .top3 .scrollarea-content.content{
    width: 100%;
}

.Song_Checkbox {
	float: left;
	margin: 22px 15px !important;
}

.scrollarea .scrollbar-container {
    z-index: 1;
}

.top3 .track {
    display: inline-block;
    text-decoration: none;
    font-family: Ubuntu, sans-serif;
    color: #000;
    width: 95% !important;
    margin: 10px 0;
}

.top3 .track_link {
	background-color: transparent;
    font-size: 12px;
    word-break: break-word;
    display: flex;
    padding: 0 0 0 2%;
    float: none;
}

.function_buttons {
    margin-top: 1%;
}

.top3 #top_page {
    margin-top: 54px
}


.top3 #toggle-div {
    margin-left: 25%
}

.top3 add-playlist-button:hover {
    color: #deb887
}

.top3 #new-playlist-input {
    width: 100%
}

.top3 #playlist_toggle_div {
    margin-left: 47%
}

.playlist-favourite {
    text-align: center
}

.top3 .transition {
    transform: scale(1);
    transition: .3s ease-in-out;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transition: .3s ease-in-out
}

.top3#top-playlist-render .area {
    max-height: 30vh;
    min-width: 30vh;
}

.top3#top-playlist-render {
    padding-top: 30px;
    display: inline-block;
    padding-top: 30px;
    text-align: center;
}

.top3 .trackThumbnail, .top4to10 .trackThumbnail  {
    float: left;
    width: 65px;
    height: 65px
}

.top4to10 .area {
    height: 35vh;
}

.top4to10 {
    margin-bottom: 35vh;
}

.top4to10 #top-playlist-render {
    padding-top: 30px
}

.top4to10 #playlist_toggle_div {
    margin-left: 47%
}

.top4to10 .track {
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Ubuntu, sans-serif;
    color: #000
}

.top4to10 .track_link {
    background-color: transparent;
    max-width: 70%;
    text-align: left;
    padding: 1% 0 0 2%;
}

.top4to10 .function_buttons {
    float: right;
    margin-top: 1%;
}

.top4to10 #top_page {
    margin-top: 54px
}


.top4to10 #toggle-div {
    margin-left: 25%
}

.top4to10 .add-playlist-button:hover {
    color: #deb887
}

.top4to10 #new-playlist-input {
    width: 100%
}

@media only screen and (max-width : 768px) {
    #top_page .top3  .scrollarea.area {
        width: 65%;
    }
    
    .top4to10 {
        margin-bottom: 40vh;
    }
    
    .top4to10 .area {
        width: 65%;
    }
    
    .top4to10 .content {
        width: 100%;
    }
    
    .top4to10 .track {
        display: inline-block;
        text-decoration: none;
        font-family: Ubuntu, sans-serif;
        color: #000;
        width: 100% !important;
        margin: 10px 0;
    }
    
    .top4to10 .track_link {
        background-color: transparent;
        font-size: 12px;
        word-break: normal;
        display: flex;
        padding: 0 0 0 2%;
        float: none;
    }
    
    .top4to10 .function_buttons {
        float: none;
    }
}

@media only screen and (max-width : 992px) {
    #top_page {
        margin-bottom: 0;
    }
    
    .top4to10 {
        margin-bottom: 30vh;
    }
    
    .top4to10 .area {
        width: 80%;
    }
    
    .top4to10 .content {
        width: 100%;
    }
    
    .top4to10 .track {
        display: inline-block;
        text-decoration: none;
        font-family: Ubuntu, sans-serif;
        color: #000;
        width: 100% !important;
        margin: 10px 0;
    }
}

@media only screen and (max-width : 1200px) {
    #top_page {
        margin-bottom: 0;
    }
}