
/*********************************************************************
//------------------------------MAIN PAGE CSS--------------------------
//*********************************************************************/

.MainPage {
    text-align: center;
    background: url("http://i.imgur.com/BWMCDuH.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100vh
}

.MainPage-Header {
    color: #fcf8e3;
}

span {
    font-size: 12em;
    text-shadow: 0 3px 0 #8e4600, 0 5px 10px #000, 0 7px 2px rgba(0, 0, 0, .1), 0 18px 16px rgba(0, 0, 0, .1)
}

#about,
span {
    margin: 10px;
    font-family: Ubuntu, sans-serif
}

#about {
    font-size: 20px;
    text-shadow: 0 2px 0 #8e4600, 0 10px 8px #000, 0 20px 2px rgba(0, 0, 0, .1), 0 30px 20px rgba(0, 0, 0, .1);
    display: block
}

#disc {
    text-align: center;
    padding-left: 42%
}

#disc a {
    background-color: transparent
}

.image {
    position: absolute;
    height: 380px;
    margin: 0 auto;
    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(1turn)
    }
}

@keyframes spin {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}
