.DashboardPage {
    height: 863px;
}

.result_scroll_box {
    overflow: scroll;
    overflow-x: hidden;
    width: 300px;
    height: 42vh;
}

.search-result {
    margin-top: 30px;
    margin-bottom: 30px
}


input[type=checkbox].result-checkbox {
    margin-right: 15px
}

.platform_icons {
    text-align: center;
}

.crop_track {
    overflow: hidden;
    height: 50px;
    line-height: 40px;
}

#songSearch-page {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
}

#search-songs {
    margin: 35px 0
}

#search-song-form {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%
}

#three_platforms {
    margin-bottom: 35vh;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 991px) {
    .result_scroll_box {
        margin: 0 auto;
    }
}