.MainPage {
  text-align: center;
  background-image: url("http://i.imgur.com/Wb6eVPe.png");
 
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.MainPage-header {
  background-image: url("http://i.imgur.com/3dI9j4c.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 897px;
  padding: 20px;
  
  
}
h2 {
  font-size: 5em;
  background-color: white;
  opacity: 0.7;
  text-align: center;

}
h2 span {
  transform-origin: bottom center;
}

.R{
  -moz-transform: rotate(6deg);
}
.e{-moz-transform: rotate(12deg);
}
.a{-moz-transform: rotate(18deg);
}
.d{-moz-transform: rotate(24deg);
}
.y{-moz-transform: rotate(30deg);
}
.t{transform: rotate(36deg);
}
.o{transform: rotate(42deg);
}
.S{transform: rotate(48deg);
}
.y{transform: rotate(94deg);
}
.n{transform: rotate(100deg);
}
.c{transform: rotate(6deg);
}
.I{transform: rotate(6deg);
}
.n{transform: rotate(6deg);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
