
body { 
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

li {
  list-style-type: none;
}

.thumbnail{
  height:50px;
  width:50px;
}
h3 {
  text-align: center;
}
form {
  text-align: center;
}

.feedback {
  font-size: 1em;
}


/*********************************************************************
//------------------------------NAVIGATION BAR--------------------------
//*********************************************************************/
.NavUL {
  list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(40,10,9, 1);
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-li {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: white;
}
a {
  text-decoration: none;
  color: white;
  background-color: rgba(40,10,9, 1);
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  font-family: 'Ubuntu', sans-serif;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}   


a:hover, .nav-li:hover {
    background-color: #3d2221;
    color: white;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    text-decoration: none;
}

#songSearch-page, #UserPlaylist-page, .DashboardPage, #top_page {
  padding: 14px 0px;
  margin-top:30px;
  margin-bottom:40px;
  background: url("http://i.imgur.com/KaBbQw6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height:1000px;
  color: white;
}
/*********************************************************************
//------------------------------MAIN PAGE CSS--------------------------
//*********************************************************************/

.MainPage {
  text-align: center;
  background:linear-gradient(
      rgba(138,91,16, .85), 
      rgba(255,197,103, 0.10)
    ), url("http://i.imgur.com/3dI9j4c.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 66.9em;
}

.MainPage-Header {
  color: #fcf8e3;
  padding:5em;
}

span {
    font-size: 12em;
    margin: 10px;
    text-shadow: 0px 3px 0px #8e4600,
                 0px 14px 10px rgba(0,0,0,1),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
    font-family: 'Ubuntu', sans-serif;
  }

  #about {
    font-size: 20px;
    margin: 10px;
    text-shadow: 0px 2px 0px #8e4600,
                 0px 10px 8px rgba(0,0,0,1),
                 0px 20px 2px rgba(0,0,0,0.1),
                 0px 30px 20px rgba(0,0,0,0.1);
    font-family: 'Ubuntu', sans-serif;
    display: block;
  }


.image {
    position: absolute;
    top: 48%;
    left: 46%;
    width: 380px;
    height: 380px;
    margin:-60px 0 0 40.625em;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/*********************************************************************
//------------------------------LOGIN PAGE CSS--------------------------
//*********************************************************************/
.LoginPage, .Register-page, .account-settings{
  text-align: center;
    text-align: center;
  background:linear-gradient(
      rgba(138,91,16, .85), 
      rgba(255,197,103, 0.10)
    ), url("http://i.imgur.com/3dI9j4c.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 66.9em;
  color: #fcf8e3;
}
.LoginPage label, .Register-page label, .update-password-display-name label {
  font-size: 4em;
    margin: 10px;
    text-shadow: 0px 3px 0px #8e4600,
                 0px 14px 10px rgba(0,0,0,1),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
    font-family: 'Ubuntu', sans-serif;
}
.Register-page label, .account-settings label{
  font-size: 3em;
}
.login-container, .Register-form, .update-password-display-name {
    border-radius: 5px;
    background-color: rgba(40,10,9, .70);
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
input[type=text], select {
    left:20%;
    top:25%;
    width:30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
}
input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
}
input[type=email], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color:black;
}
button[type=submit] {
    width: 100%;
    background-color: #ff8a3c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

button[type=submit]:hover {
    background-color: #c4682b;
    -webkit-transform: scale(1.01);
  transform: scale(1.01);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
#registerlink {
  color:white;
  text-decoration: none;
}

#registerlink:hover {
  color: gold;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



.App-intro {
  font-size: large;
}



/*********************************************************************
//------------------------------Register Page--------------------------
//*********************************************************************/
.Register-form {
  top: 61%;
}




/*********************************************************************
//------------------------------SONG SEARCH--------------------------
//*********************************************************************/
#songSearch-page {
  background: url("http://i.imgur.com/KaBbQw6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
}
 .DashboardPage {
    height: 863px;
 }

 #three_platforms {
  width: 87%;
    float: right;
 }
#search-songs {
  margin: 35px 0;

}
#search-song-form {
  transform: translate(-50%, -50%);
  width:50%;
}
.ASDF {
  overflow: auto;
  width:300px;
  height:300px;

}
.ASDF::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

/*********************************************************************
//--------------------------USER PLAYLIST PAGE--------------------------
//*********************************************************************/
#UserPlaylist-page {
  background:linear-gradient(
      rgba(138,91,16, .85), 
      rgba(255,197,103, 0.10)
    ), url("http://i.imgur.com/wZLxya6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
}
h4 {
  text-align: center;
}
.content{
  background: #5db6a2;
   width: 800px;
  height: auto;
  margin: 10px;
  float: left;
  padding: 8px;
  box-sizing: border-box;
  text-decoration: none;
}

.area{
  margin: 10px auto;
  width: 800px;
  height: 300px;
  background: #353530;
  text-decoration: none;
}

#my-saved-playlists {
  text-align: center;
  font-size: 4em;
  text-decoration: none;
}
#user-playlist-buttons-li{
  text-decoration-line: none;
}
.user-playlist-buttons {
  text-decoration: none;
  color: white;
  background-color:#ff2e44;
  padding: 1em;
  border: none;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.user-playlist-buttons:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#react-player {
    position: fixed;
    bottom: 0;
    width: 100%;
}
/*********************************************************************
//------------------------------DASHBOARD--------------------------
//*********************************************************************/
.DashboardPage {
  text-align: center;
}
#welcome {
  text-align: center;
  font-size: 5em;
  text-align: center;
  text-shadow: 0px 3px 0px #8e4600, 
  0px 5px 10px rgba(0,0,0,1), 
  0px 7px 2px rgba(0,0,0,0.1), 
  0px 18px 16px rgba(0,0,0,0.1);
}

#my-saved-playlists {
  text-align: center;
  text-shadow: 0px 3px 0px #8e4600, 
  0px 5px 10px rgba(0,0,0,1), 
  0px 7px 2px rgba(0,0,0,0.1), 
  0px 18px 16px rgba(0,0,0,0.1);
}


/*********************************************************************
//--------------------------USER PLAYLIST PAGE--------------------------
//*********************************************************************/
#Q-list {
  float:right;
  
  background-color:orange;
}
.UserPlaylist {
 

}
/*********************************************************************
//---------------------------ACCOUNT SETTINGS--------------------------
//*********************************************************************/
.update-password-display-name {
  top: 62%;
  position: absolute;
  margin-bottom: 30px;
}
.account-settings label {
  font-size: 2em;

}

/*********************************************************************
//------------------------------FOOTER----------------------------
//*********************************************************************/
#react-player {
  width: 100%;
  bottom: 0;
  background-color: rgba(40,10,9, 1);
}
#video-pic-viewer {
  float:left;

}
#video-controller-1, #video-controller-2 {
  float:right;
  padding: 1em;
}

#video-seek, #video-volume {
  color: white;
  padding: 1em;
  width: 25%;
  float: left;
}


#seek, #volume {
  font-size: 1em;
}

.player-buttons {
  background-color: #3d2221;
  padding: 1em;
  color: white;
  margin: 3px;
  border: none;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.player-buttons:hover{
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

li.track {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    color: black;
}





/*********************************************************************
//----------------------USER'S SAVED PLAYLIST-------------------------
//*********************************************************************/



