.ASDF::-webkit-scrollbar {
    width: 12px
}

.ASDF::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    border-radius: 10px
}

.ASDF::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5)
}

.ASDF::-webkit-scrollbar-corner {
    -webkit-box-shadow: inset 0 0 0 transparent
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

.dropdown-menu>li>a {
    width: 100%
}

li {
    list-style-type: none;
    text-align: center
}

.thumbnail {
    height: 80px;
    width: 100px;
    border: #000;
    float: left
}

h2,
h3 {
    text-shadow: 0 3px 0 #8e4600, 0 5px 10px #000, 0 7px 2px rgba(0, 0, 0, .1), 0 18px 16px rgba(0, 0, 0, .1)
}

form,
h2,
h3 {
    text-align: center
}

.feedback {
    font-size: 1em
}

/*********************************************************************
//------------------------------NAVIGATION BAR--------------------------
//*********************************************************************/

.NavUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #280a09;
    position: fixed;
    top: 0;
    width: 100%
}

.nav-li,
a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Ubuntu, sans-serif;
    color: #fff;
    cursor: pointer;
}

a {
    background-color: #280a09;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

.nav-li:hover,
a:hover {
    background-color: #3d2221;
    color: #fff;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    text-decoration: none
}

#songSearch-page,
#top_page,
#UserPlaylist-page,
.account-settings,
.DashboardPage {
    margin-top: 57px;
    margin-bottom: 40px;
    background: url("http://i.imgur.com/VDqXOZV.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    height: 100vh;
    color: #fff
}

.nav-label {
    font-size: 16px;
    text-shadow: none
}

.right-side {
    float: right;
    display: inline
}

/*********************************************************************
//------------------------------MAIN PAGE CSS--------------------------
//*********************************************************************/

.MainPage {
    text-align: center;
    background: url("http://i.imgur.com/BWMCDuH.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100vh
}

.MainPage-Header {
    color: #fcf8e3;
    padding: 5em
}

span {
    font-size: 12em;
    text-shadow: 0 3px 0 #8e4600, 0 14px 10px #000, 0 24px 2px rgba(0, 0, 0, .1), 0 34px 30px rgba(0, 0, 0, .1)
}

#about,
span {
    margin: 10px;
    font-family: Ubuntu, sans-serif
}

#about {
    font-size: 20px;
    text-shadow: 0 2px 0 #8e4600, 0 10px 8px #000, 0 20px 2px rgba(0, 0, 0, .1), 0 30px 20px rgba(0, 0, 0, .1);
    display: block
}

#disc {
    text-align: center;
    padding-left: 42%
}

#disc a {
    background-color: transparent
}

.image {
    position: absolute;
    height: 380px;
    margin: 0 auto;
    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(1turn)
    }
}

@keyframes spin {
    to {
        -webkit-transform: rotate(1turn);
        transform: rotate(1turn)
    }
}

/*********************************************************************
//------------------------------LOGIN PAGE CSS--------------------------
//*********************************************************************/

.LoginPage,
.Register-page {
    text-align: center;
    background: url("http://i.imgur.com/BWMCDuH.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 100vh;
    color: #fcf8e3
}

.AccountSettingsPage label,
.LoginPage label,
.Register-page label {
    font-size: 4em;
    margin: 10px;
    text-shadow: 0 3px 0 #8e4600, 0 14px 10px #000, 0 24px 2px rgba(0, 0, 0, .1), 0 34px 30px rgba(0, 0, 0, .1);
    font-family: Ubuntu, sans-serif
}

.account-settings label,
.Register-page label {
    font-size: 2em
}

.login-container,
.Register-form {
    width: 25%;
    border-radius: 5px;
    background-color: rgba(40, 10, 9, .7);
    padding: 20px;
    position: fixed;
    top: 59%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

input[type=text],
select {
    background: url(https://maxcdn.icons8.com/Color/PNG/24/Computer_Hardware/mouse_left_click-24.png) .2em .3em no-repeat, -webkit-linear-gradient(top, #f7f7f8, #fff);
    background: url(https://maxcdn.icons8.com/Color/PNG/24/Computer_Hardware/mouse_left_click-24.png) .2em .3em no-repeat, linear-gradient(180deg, #f7f7f8 0, #fff);
    left: 20%;
    top: 25%;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000;
    text-align: center
}

input[type=text]:focus {
    background: url(https://maxcdn.icons8.com/Color/PNG/24/Computer_Hardware/enter-24.png) 33.5em .3em no-repeat, -webkit-linear-gradient(top, #f7f7f8, #fff);
    background: url(https://maxcdn.icons8.com/Color/PNG/24/Computer_Hardware/enter-24.png) 33.5em .3em no-repeat, linear-gradient(180deg, #f7f7f8 0, #fff)
}

input[type=email],
input[type=password],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: #000;
    text-align: center
}

button[type=submit] {
    width: 100%;
    background-color: #ff8a3c;
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

button[type=submit]:hover {
    background-color: #c4682b;
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01)
}

.App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
    animation: App-logo-spin infinite 20s linear;
    height: 80px
}

#registerlink {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    display: block;
    float: none
}

#registerlink:hover {
    color: gold;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color: transparent
}

#login-icons {
    text-align: center
}

#facebook-login,
#google-login {
    background-color: transparent;
    display: block;
    width: 50%
}

.App-intro {
    font-size: large
}

/*********************************************************************
//------------------------------Register Page--------------------------
//*********************************************************************/

.Register-form {
    top: 61%
}

a#loginlink {
    float: none;
    background-color: transparent
}

#loginlink:hover {
    color: gold;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    background-color: transparent
}

#display-name-input,
#displayName,
#username {
    width: 100%
}

/*********************************************************************
//------------------------------Account Settings Page--------------------------
//*********************************************************************/

.update-display-name-form {
    top: 40%;
    left: 35%
}

.update-display-name-form,
.update-password-form {
    width: 25%;
    border-radius: 5px;
    background-color: rgba(40, 10, 9, .7);
    padding: 20px;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.update-password-form {
    top: 45%;
    left: 66%
}

.update-third-party-display-name-form {
    width: 25%;
    border-radius: 5px;
    background-color: rgba(40, 10, 9, .7);
    padding: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

/*********************************************************************
//------------------------------SONG SEARCH--------------------------
//*********************************************************************/

#songSearch-page {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    height: 867px
}

.DashboardPage {
    height: 863px
}

#three_platforms {
    margin-left: 238px;
    padding-bottom: 29px;
    padding-left: 121px;
    margin-bottom: 8px;
    margin-right: 146px;
    background-color: hsla(20, 8%, 79%, .63);
    border-radius: 137px
}

#search-songs {
    margin: 35px 0
}

#search-song-form {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50%
}

.ASDF {
    overflow: scroll;
    overflow-x: hidden;
    width: 300px;
    height: 435px
}

.search-result {
    margin-top: 30px;
    margin-bottom: 30px
}

#songSearch-page .btn-group-vertical {
    left: 66px;
    top: 5px
}

input[type=checkbox].result-checkbox {
    margin-right: 15px
}

/*********************************************************************
//--------------------------USER PLAYLIST PAGE--------------------------
//*********************************************************************/

#UserPlaylist-page {
    background: -webkit-linear-gradient(rgba(138, 91, 16, .85), rgba(255, 197, 103, .1)), url("http://i.imgur.com/wZLxya6.jpg");
    background: linear-gradient(rgba(138, 91, 16, .85), rgba(255, 197, 103, .1)), url("http://i.imgur.com/wZLxya6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0
}

h4 {
    text-align: center
}

.content {
    background: #280a09;
    height: auto;
    margin: 10px;
    float: left;
    padding: 8px;
    box-sizing: border-box
}

.area,
.content {
    width: 800px;
    text-decoration: none
}

.area {
    margin: 10px auto;
    height: 300px;
    background: transparent
}

.my-saved-playlists {
    text-align: center;
    font-size: 3em;
    text-decoration: none
}

#user-playlist-buttons-li {
    -webkit-text-decoration-line: none;
    text-decoration-line: none
}

.user-playlist-buttons {
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    padding: .5em;
    border: none;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

.user-playlist-buttons:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

#react-player {
    position: fixed;
    bottom: 0;
    width: 100%
}

/*********************************************************************
//------------------------------DASHBOARD--------------------------
//*********************************************************************/

.DashboardPage {
    text-align: center
}

#welcome {
    font-size: 5em
}

#my-saved-playlists,
#welcome {
    text-align: center;
    text-shadow: 0 3px 0 #8e4600, 0 5px 10px #000, 0 7px 2px rgba(0, 0, 0, .1), 0 18px 16px rgba(0, 0, 0, .1)
}

.trackButtons {
    color: #fff;
    background-color: #000;
    border: none;
    font-weight: bolder
}

.blackColor {
    color: #000
}

/*********************************************************************
//--------------------------USER PLAYLIST PAGE--------------------------
//*********************************************************************/

#Q-list {
    float: right
}

#Q_Track_List {
    width: 100%
}

div#Q_Track_List {
    text-decoration: none;
    color: #fff;
    background-color: #280a09;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    font-family: Ubuntu, sans-serif;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

div#Q_Track_List:hover {
    background-color: #3d2221;
    color: #fff;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    text-decoration: none
}

/*********************************************************************
//----------------------------MEET THE DEVS :)-------------------------
//*********************************************************************/

.contactDev {
    margin-top: 30px;
    height: 863px
}

.contact_info {
    margin-top: 10px;
    margin-left: 50%
}

#meet_header {
    font-size: 8em
}

.project_roles {
    display: -webkit-inline-box
}

.Surbhi {
    float: right
}

.Lavie,
.Lavie_container {
    float: left
}

.Kevin {
    float: right
}

.Michelle,
.Michelle_container {
    float: left
}

.paragraph_float_right {
    float: right;
    width: 41%;
    margin-top: 100px
}

.paragraph_left {
    width: 60%;
    margin-top: 94px
}

/*********************************************************************
//---------------------------ACCOUNT SETTINGS--------------------------
//*********************************************************************/

.update-display-name-form,
.update-password-form {
    width: 30em;
    text-align: center
}

.current-password {
    font-size: 10em
}

.update-password-display-name {
    top: 62%;
    position: absolute;
    margin-bottom: 30px
}

.account-settings label {
    font-size: 2em
}

/*********************************************************************
//------------------------------FOOTER----------------------------
//*********************************************************************/

#react-player {
    width: 100%;
    bottom: 0;
    background-color: #280a09
}

#video-pic-viewer {
    float: left
}

#video-controller-1 {
    float: right;
    padding: 1em
}

#video-seek,
#video-volume {
    color: #fff;
    padding: 1em;
    width: 25%;
    float: left
}

#video-volume {
    width: 15%
}

#seek,
#volume {
    font-size: 1em
}

.off {
    color: gray
}

.on {
    color: #fff
}

.player-buttons {
    background-color: transparent;
    padding: 1em;
    color: #fff;
    margin: 3px;
    border: none;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

.player-buttons:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2)
}

li.track {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Ubuntu, sans-serif;
    color: #000
}

#track-names {
    width: 100%
}

.track-title {
    color: #fff
}

#Q_Track_List,
.queue-track-name,
.queueTrackButton {
    display: inline-block
}

.col-sm-6.queueTrackButton {
    width: 28%;
    width: 160px;
    padding-right: 5px
}

.col-sm-6.playlist-butt {
    width: 50%
}

.col-sm-6.queue-track-name#Q_Track_List {
    padding-left: 15px;
    padding-top: 5px;
    text-align: left;
    font-size: 1em;
    height: 35px;
    width: 548px
}

ul {
    padding: 14px, 0;
    -webkit-padding-start: 0
}

li.track {
    width: 750px
}

.btn-group-vertical {
    top: 93px;
    left: 1410px
}

.btn-group-vertical .btn.btn-default {
    color: #fff;
    background-color: #280a09;
    border-color: transparent
}

ul.dropdown-menu {
    margin: 9px 0 0;
    background-color: #280a09
}

button#queue-list.dropdown-toggle.btn.btn-default {
    outline: 0;
    background-color: transparent;
    color: #fff;
    border-color: transparent;
    font-size: xx-large;
    padding-top: 38px
}

/*********************************************************************
//----------------------Top Playlists-------------------------
//*********************************************************************/

#top_page {
    margin-top: 54px
}

#lock_new_saved_playlists {
    float: right;
    position: fixed
}

.dropdown-menu>li>a {
    color: #fff
}

#toggle-div {
    margin-left: 25%
}

.add-playlist-button:hover {
    color: #deb887
}

#new-playlist-input {
    width: 100%
}

#playlist_toggle_div {
    margin-left: 47%
}

.playlist-favourite {
    text-align: center
}

.top-playlist-tracks a {
    background-color: transparent;
    width: 645px
}

.trackThumbnail {
    float: left;
    width: 45px;
    height: 45px
}

.transition {
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out
}

#top-playlist-render .area {
    height: 275px
}

#top-playlist-render {
    padding-top: 30px
}

/*********************************************************************
//----------------------Media query-------------------------
//*********************************************************************/

@media screen and (min-width:320px) and (max-width:376px) {
    span {
        font-size: 2em
    }
    span#about {
        font-size: 1em
    }
    .MainPage {
        height: 100vh
    }
    .MainPage-Header {
        padding-top: 7em;
        padding-left: 2em;
        padding-right: 2em
    }
    .image {
        width: 200px;
        height: 200px
    }
    #disc {
        text-align: center;
        padding-left: 15%
    }
    a#registerlink {
        padding: 0
    }
    div#login {
        padding: 2em
    }
    .login-container {
        padding: 2em;
        top: 55%
    }
    .LoginPage label,
    .update-password-display-name label {
        font-size: 3em
    }
    div#register {
        padding: .5em
    }
    a#loginlink {
        padding: .75em
    }
    a#facebook-login,
    a#google-login {
        padding: 0
    }
    .account-settings label,
    .Register-page label {
        font-size: 1em
    }
    .Register-form {
        top: 55%
    }
    .Register-form input {
        padding: 4px;
        margin: 0;
        width: 18em
    }
    .NavigationBar a {
        padding: 14px
    }
    #welcome {
        font-size: 2em
    }
    p.DashboardPage {
        font-size: .5em
    }
    .songSearch-container input {
        width: 80%
    }
    #my-saved-playlists {
        font-size: 2em
    }
    .area {
        width: 25em;
        height: 10em;
        margin: 0
    }
    .track a {
        font-size: .85em
    }
    .scrollarea.area>div.scrollarea-content.content {
        width: 100%;
        float: none
    }
    #playlist_toggle_div,
    .playlist-buttons {
        margin: 0 auto;
        padding: 0;
        display: inline-block
    }
    .saved-playlists-ul {
        padding: 0
    }
    .track-buttons,
    .track-item {
        display: inline-block
    }
    .col-md-12.track {
        padding: 0;
        height: 4em
    }
    .col-sm-6.track-item {
        padding: 0 auto;
        width: 13em;
        height: 20px
    }
    a#track-names {
        width: auto;
        padding: 0;
        text-align: left
    }
    #songSearch-page,
    #top_page,
    #UserPlaylist-page,
    .DashboardPage {
        margin-top: 57px;
        margin-bottom: 40px;
        background: url("http://i.imgur.com/VDqXOZV.jpg");
        background-size: cover;
        background-position: 0;
        height: 95vh;
        width: 63vh
    }
    iframe {
        display: none
    }
    .player-buttons {
        margin: 0;
        padding: .6em
    }
    .track-title {
        color: #fff;
        text-align: center
    }
    #video-controller-1 {
        display: inline-block
    }
    #video-seek,
    #video-volume {
        display: none
    }
    #queue-list {
        color: #fff;
        background-color: transparent;
        font-size: 2.5em;
        display: inline-block;
        border-color: transparent
    }
}

@media screen and (min-width:375px) and (max-width:413px) {
    span {
        font-size: 3em
    }
    span#about {
        font-size: 1em
    }
    .MainPage {
        height: 100vh
    }
    .MainPage-Header {
        padding-top: 7em
    }
    .image {
        width: 200px;
        height: 200px
    }
    #disc {
        text-align: center;
        padding-left: 23%;
        padding-top: 20%
    }
    div#login,
    div#register {
        padding: 2em
    }
    .NavigationBar a {
        padding: 14px 52px
    }
}

@media screen and (min-width:414px) and (max-width:659px) {
    span {
        font-size: 3em
    }
    span#about {
        font-size: 1em
    }
    .MainPage {
        height: 100vh
    }
    .MainPage-Header {
        padding-top: 7em
    }
    .image {
        width: 200px;
        height: 200px
    }
    #disc {
        text-align: center;
        padding-left: 23%;
        padding-top: 20%
    }
    .login-container {
        top: 55%
    }
    div#register {
        padding: 4em
    }
    .account-settings label,
    .Register-page label {
        font-size: 1em
    }
    .Register-form {
        top: 55%
    }
    .Register-form input {
        padding: 4px;
        margin: 0;
        width: 20em
    }
}

@media screen and (min-width:660px) and (max-width:959px) {
    span {
        font-size: 8em
    }
    .MainPage {
        height: 100vh
    }
    #disc {
        text-align: center;
        padding-left: 23%
    }
    .login-container {
        top: 55%
    }
    div#register {
        padding: 4em
    }
}

@media (min-width:960px) {
    #disc {
        text-align: center;
        padding-left: 28%
    }
}

@media (min-width:1060px) {
    #disc {
        text-align: center;
        padding-left: 29%
    }
}

@media (min-width:1170px) {
    #disc {
        text-align: center;
        padding-left: 32%
    }
}

@media (min-width:1260px) {
    #disc {
        text-align: center;
        padding-left: 34%
    }
}

@media (min-width:1480px) {
    #disc {
        text-align: center;
        padding-left: 37%
    }
}

@media (min-width:1610px) {
    #disc {
        text-align: center;
        padding-left: 39%
    }
}