body {
    margin: 0;
    padding: 0;
    font-family: sans-serif
}

h2 {
    text-shadow: 0 3px 0 #8e4600, 0 5px 10px #000, 0 7px 2px rgba(0, 0, 0, .1), 0 18px 16px rgba(0, 0, 0, .1);
    font-size: 3em;
}

form,
h2,
h3 {
    text-align: center
}

li {
    list-style-type: none;
    text-align: center
}

.result_scroll_box::-webkit-scrollbar {
    width: 12px
}

.result_scroll_box::-webkit-scrollbar-track {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.result_scroll_box::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .5)
}

.result_scroll_box::-webkit-scrollbar-corner {
    -webkit-box-shadow: inset 0 0 0 transparent
}

.dropdown-menu>li>a {
    width: 100%;
    color: black;
}

.thumbnail {
    height: 80px;
    width: 100px;
    border: #000;
    float: left
}

.feedback {
    font-size: 1em;
    text-shadow:none;
}

.error span {
    color: red;
}

.fa-exclamation-triangle {
    color: red;
}

@media only screen and (max-width : 768px) {
    body {
        margin-left:auto;
        margin-right:auto;
        width:768px !important;
    }
}